{% extends 'base.html.twig' %}

{% block title %}Enterprise index
{% endblock %}

{% block body %}
	<h1>Enterprise index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>

                <th>Password</th>
                <th>Company_name</th>
                <th>Logo</th>
                <th>Country</th>
                <th>Phone</th>
                <th>ContactName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enterprise in enterprises %}
            <tr>
                <td>{{ enterprise.id }}</td>
                <td>{{ enterprise.email }}</td>
                <td>{{ enterprise.password }}</td>
                <td>{{ enterprise.companyName }}</td>
                <td>{{ enterprise.logo }}</td>
                <td>{{ enterprise.country }}</td>
                <td>{{ enterprise.phone }}</td>
                <td>{{ enterprise.contactName }}</td>
                <td>
                    <a href="{{ path('enterprise_show', {'id': enterprise.id}) }}">show</a>
                    <a href="{{ path('enterprise_edit', {'id': enterprise.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	{# <a href="{{ path('enterprise_new') }}">Create new</a> #}
{% endblock %}
