{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-2">
		<div
			class="card">
			{# Logo image #}
			{# <img class="card-img-top rounded mx-auto" src="{{ "image lgoo" }}" alt="logo"> #}
			<div class="card-body">
				<h4
					class="card-title">
					{# Company name #}
					{{ enterprise.companyName }}
					<span style="float: right">
						<a type="button" class="btn btn-dark text-white" href="{{ path('enterprise_edit', {'id': enterprise.id}) }}">Edit</a>
					</span>
				</h4>

				<div class="table-responsive">

					<table class="table tabel-hover table-responsive">
						<tbody>
							<tr>
								<th scope="row">Email</th>
								<td>{{ enterprise.email }}</td>
							</tr>
							<tr>
								<th scope="row">Roles</th>
								<td>{{ enterprise.roles ? enterprise.roles|json_encode : '' }}</td>
							</tr>
							<tr>
								<th scope="row">Logo</th>
								<td>{{ enterprise.logo }}</td>
							</tr>
							<tr>
								<th scope="row">Country</th>
								<td>{{ enterprise.country }}</td>
							</tr>
							<tr>
								<th scope="row">Phone</th>
								<td>{{ enterprise.phone }}</td>
							</tr>
							<tr>
								<th scope="row">ContactName</th>
								<td>{{ enterprise.contactName }}</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>

	{# <a href="{{ path('enterprise_index') }}">back to list</a> #}

	{# 	 #}

{% endblock %}
