<<<<<<< HEAD
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>

<header class="header shop">
    <!-- Topbar -->
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <!-- Top Left -->
                    <div class="top-left">
                        <ul class="list-main">
                            <li><i class="ti-headphone-alt"></i> 04 12 84 75 21</li>
                            <li><i class="ti-email"></i> support@ExportWise.com</li>
                        </ul>
                    </div>
                    <!--/ End Top Left -->
                </div>
                <div class="col-lg-8 col-md-12 col-12">
                    <!-- Top Right -->
                    <div class="right-content">
                        <ul class="list-main">

                            <form method="post">


                                {% if app.user %}
                                    <div class="mb-3">
                                        <li><i class="ti-user"></i> <a href="/enterprise/profile">{{ app.user.username }}</a></li>
                                        <li><i class="ti-power-off"></i> <a href="#"><a href="{{ path('app_logout') }}">Logout</a></a>
                                        </li>
                                    </div>
                                    {% else %}
                                <li><i class="ti-user"></i> <a href="/login">Mon compte</a></li>
                                        <li><i class="ti-user"></i> <a href="/register">Creé un compte</a></li>

                                {% endif %}


                            </form>
                        </ul>
                    </div>
                    <!-- End Top Right -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Topbar -->
    <div class="middle-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html"><img src="images/logo.png" alt="logo"></a>
                    </div>
                    <!--/ End Logo -->
                    <!-- Search Form -->
                    <div class="search-top">
                        <div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
                        <!-- Search Form -->
                        <div class="search-top">
                            <form class="search-form">
                                <input type="text" placeholder="Chercher ici..." name="search">
                                <button value="search" type="submit"><i class="ti-search"></i></button>
                            </form>
                        </div>
                        <!--/ End Search Form -->
                    </div>
                    <!--/ End Search Form -->
                    <div class="mobile-nav"></div>
                </div>
                <div class="col-lg-8 col-md-7 col-12">
                    <div class="search-bar-top">
                        <div class="search-bar">
                            <select>
                                <option selected="selected">Catégories</option>
                                {# {% for category in categories %} #}
                                {# <option>{{ category.id }}</option> #}
                                <option>mobile</option>
                                <option>kid’s item</option>
                            </select>
                            <form>
                                <label>
                                    <input name="search" placeholder="Search Products Here....." type="search">
                                </label>
                                <button class="btnn"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-12">
                    <div class="right-bar">
                        <!-- Search Form -->
                         {% if app.user %}
                             <div class="sinlge-bar">
                                 <a href="{{ path('enterprise_show') }}" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                             </div>
                             <div class="sinlge-bar">
                                 <a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                             </div>
                        {% endif %}

                        <div class="sinlge-bar shopping">
                            <a href="#" class="single-icon"><i class="ti-bag"></i> <span
                                        class="total-count">2</span></a>
                            <!-- Shopping Item -->
                            <div class="shopping-item">
                                <div class="dropdown-cart-header">
                                    <span>2 Items</span>
                                    <a href="#">View Cart</a>
                                </div>
                                <ul class="shopping-list">
                                    <li>
                                        <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                        <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70"
                                                                          alt="#"></a>
                                        <h4><a href="#">Woman Ring</a></h4>
                                        <p class="quantity">1x - <span class="amount">$99.00</span></p>
                                    </li>
                                    <li>
                                        <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                        <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70"
                                                                          alt="#"></a>
                                        <h4><a href="#">Woman Necklace</a></h4>
                                        <p class="quantity">1x - <span class="amount">$35.00</span></p>
                                    </li>
                                </ul>
                                <div class="bottom">
                                    <div class="total">
                                        <span>Total</span>
                                        <span class="total-amount">$134.00</span>
                                    </div>
                                    <a href="/checkout" class="btn animate">Checkout</a>
                                </div>
                            </div>
                            <!--/ End Shopping Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="cat-nav-head">
                <div class="row">
                    <div class="col-12">
                        <div class="menu-area">
                            <!-- Main Menu -->
                            <nav class="navbar navbar-expand-lg">
                                <div class="navbar-collapse">
                                    <div class="nav-inner">
                                        <ul class="nav main-menu menu navbar-nav">
                                            <li class="active"><a href="#">Home</a></li>
                                            <li><a href="#">Product</a></li>
                                            <li><a href="#">Shop<i class="ti-angle-down"></i></a>
                                                <ul class="dropdown">
                                                    <li><a href="cart.html">Cart</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <!--/ End Main Menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
</header>
=======
<header class="header shop">
	<!-- Topbar -->
	{# <div class="topbar">
					<div class="container">
						<div class="row">
							<div
								class="col-lg-4 col-md-12 col-12">
								<!-- Top Left -->
								<div class="top-left">
									<ul class="list-main">
									
										<li>
											<i class="ti-email"></i>
											support@ExportWise.com
										</li> 
									</ul>
								</div>
								<!-- / End Top Left -->
							</div>
							<div
								class="col-lg-8 col-md-12 col-12">
								<!-- Top Right -->
								<div class="right-content">
									<ul class="list-main">
									
										<li>
											<i class="ti-user"></i>
											<a href="/enterprise/profile">Mon compte</a>
										</li>
										<li>
											<i class="ti-power-off"></i>
											<a href="/login">Se connecter</a>
										</li>
									</ul>
								</div>
								<!-- End Top Right -->
							</div>
						</div>
					</div>
				</div> #}
	<!-- End Topbar -->
		<div class="middle-inner"> <div class="container">
			<div class="row">
				<div
					class="col-lg-2 col-md-2 col-12">
					<!-- Logo -->
					<div class="logo">
						<a href="/"><img src="/images/logo.png" alt="logo"/></a>
					</div>
					<!-- / End Logo -->
					<!-- Search Form -->
					{# 	<div class="search-top">
											<div class="top-search">
												<a href="#0">
													<i class="ti-search"></i>
												</a>
											</div>
											<!-- Search Form -->
											<div class="search-top">
												<form class="search-form">
													<input type="text" placeholder="Chercher ici..." name="search"/>
													<button value="search" type="submit">
														<i class="ti-search"></i>
													</button>
												</form>
											</div>
											<!-- / End Search Form -->
										</div> #}
					<!-- / End Search Form --><div class="mobile-nav"> </div>
				</div>
				<div
					class="col-lg-8 col-md-7 col-12">{# <div class="search-bar-top">
												<div class="search-bar">
													<select>
														<option selected="selected">
															Tout les category
														</option>
														<option>
															watch
														</option>
														<option>
															mobile
														</option>
														<option>
															kid’s item
														</option>
													</select>
													<form>
														<label>
															<input name="search" placeholder="Search Products Here....." type="search"/>
														</label>
														<button class="btnn">
															<i class="ti-search"></i>
														</button>
													</form> 
												</div>
											</div> #}
				</div>
				<div class="col-lg-2 col-md-3 col-12">
					<div
						class="right-bar">
						<!-- Search Form -->

						{% if app.user %}
							<div class="sinlge-bar">
								<a href="/enterprise/profile" class="single-icon">
									<i class="fa fa-user-circle-o" aria-hidden="true"></i>
								</a>
								<a href="{{ path('app_logout') }}" class="single-icon">
									<i class="ti-power-off"></i>
								</a>

							</div>
						{% else %}
							<i class="ti-power-off"></i>
							<a href="/login">Se connecter</a>
                            <br>
                            <i class="ti-power-off"></i>
                            <a href="/register">Register</a>
						{% endif %}
						{% if app.user %}
							<div class="sinlge-bar shopping">
								<a href="#" class="single-icon">
									<i class="ti-bag"></i>
									<span class="total-count">2</span>
								</a>
								<!-- Shopping Item -->
								<div class="shopping-item">
									<div class="dropdown-cart-header">{#  <span>2 Items</span> #}
										{#  <a href="#">View Cart</a> #}
									</div>
									{# <ul class="shopping-list">																																										                  </li>
																																																																																										                </ul> #}
									<div class="bottom">
										<div
											class="total">{# <span>Total</span>
																																																																																																																								                    <span class="total-amount">$134.00</span> #}
										</div>
										<a href="/checkout" class="btn animate">Checkout</a>
									</div>
								</div>
							{% endif %}
							<!-- / End Shopping Item -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Header Inner -->
	<div class="header-inner">
		<div class="container">
			<div class="cat-nav-head">
				<div class="row">
					<div class="col-12">
						<div
							class="menu-area">
							<!-- Main Menu -->
							<nav class="navbar navbar-expand-lg">
								<div class="navbar-collapse">
									<div class="nav-inner">
										<ul class="nav main-menu menu navbar-nav">
											<li class="active">
												<a href="/">Home</a>
											</li>
											<li>
												<a href="#">Products</a>
												<ul class="dropdown">
													<li>
														<a href="shop-grid.html">Shop Grid</a>
													</li>
													<li>
														<a href="cart.html">Cart</a>
													</li>
													<li>
														<a href="checkout.html">Checkout</a>
													</li>
												</ul>
											</li>
											{% if app.user %}
												<li>
													<a href="/">Messages</a>
												</li>
											{% endif %}
										</ul>
									</div>
								</div>
							</nav>
							<!-- / End Main Menu -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- / End Header Inner -->
</header>
>>>>>>> esau_cherif
