{% extends 'base.html.twig' %}

{% block title %}
  My Cart
{% endblock %}

{% block body %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">
        My Cart
      </h1>
    </div>
  </section>

  <div class="container mb-4">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">
                  Product
                </th>
                <th scope="col">
                  Quantity
                </th>
                <th scope="col" class="text-center">
                  Price
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% set subtotal = 0 %}
              {% set total = 0 %}
              {% set shipping = 7.99 %}
              {% for detail in po.detailPurchaseOrders %}
                <tr>
                  <td>
                    <a href="{{ path('product_controller2_show_main', {'id': detail.productId.id}) }}">
                      <img href="{{ path('product_controller2_show_main', {'id': detail.productId.id}) }}" class="hover-img" width="182" height="250"
                            src="/images/products/{{ detail.productId.filename }}"
                            alt="{{ detail.productId.description }}">
                    </a>
                  </td>
                  <td>
                    {{ detail.productId.name}}
                  </td>
                  {# <td>
                    {% if detail.productId.status == 1 %}In Stock{% endif %}
                  </td> #}
                  <td>
                    <div class="quantity">
                        <!-- Input Order -->
                        <div class="input-group">
                            <div class="button minus">
                                <button type="button"
                                onClick="editQuantity('-1', '{{ detail.productId.id }}')" class="btn btn-primary btn-number" data-type="minus" data-field="quant[1]">
                                    <i class="ti-minus"></i>
                                </button>
                            </div>
                            <input type="text" id="input_quant_{{ detail.productId.id }}" name="quant[1]" class="input-number" onchange="addToCart({{ detail.productId.id }})" data-min="1" data-max="1000" value="{{ detail.quantity }}">
                            <div class="button plus">
                                <button type="button" 
                                onClick="editQuantity('1', '{{ detail.productId.id }}')" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                                    <i class="ti-plus"></i>
                                </button>
                            </div>
                        </div>
                        <!--/ End Input Order -->
                    </div>
                  </td>
                  <td class="text-right">
                    {% set price = detail.productId.price * detail.quantity %}
                    ${{ price }}
                  </td>
                  <td class="text-right">
                    <a class="btn btn-sm btn-danger" href="{{ path('detail_purchase_order_delete', {'id': detail.id}) }}">
                      <i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>

                {% set subtotal = subtotal + price %}
              {% endfor %}
              {% set total = subtotal + shipping %}

              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  Sub-Total
                </td>
                <td class="text-right">
                  {{ subtotal }}
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  Shipping
                </td>
                <td class="text-right">
                  {{ shipping }}
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <strong>Total</strong>
                </td>
                <td class="text-right">
                  <strong>{{ total }}</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col mb-2">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <a href="{{ path('product_controller2_index') }}"class="btn btn-block btn-light">
              <p class="text-white">Continue Shopping</p>
            </a>
          </div>
          <div class="col-sm-12 col-md-6 text-right">
            <a class="btn btn-lg btn-block btn-success text-uppercase" href="{{ path('checkout') }}">
              <p class="text-white">Checkout</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/purchase-order.js"></script>
  <script type"javascript">
    function editQuantity(editValue, productId) {
      // console.log("enter");
      console.log(editValue);
      if (document.querySelector("#input_quant_" + productId)) {
        quantity = parseInt(document.querySelector("#input_quant_" + productId).value, 10);
        // console.log(document.querySelector(".input_quant_" + productId));
        console.log(quantity);
        quantity += parseInt(editValue);
        document.querySelector("#input_quant_" + productId).value = quantity;
        document.querySelector("#input_quant_" + productId).onchange();

        location.reload();
      }
    }

    function deleteDetail(detailId) {
      window.location.href = "http://localhost:8000/detail/purchase/order/" + detailId;
    }
  </script>
{% endblock %}
